@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700;800&display=swap');

.font-poppins{
  font-family: 'poppins', sans-serif;

}
.font-anton{
  font-family: 'Anton', sans-serif;
}


  
/* .banner_section{
  

background-repeat: no-repeat;
height: 37.5rem;
border-radius: 1rem;
text-align: center;
justify-content: center;
padding-top: 7rem;
background-position-x: center;

} */